/* Global styles */
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #f5f5f5;
}

html {
  font-size: 14px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 1px 10px;
}

.search-outter-container {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  padding: 5px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.search-container:focus-within {
  border-color: aqua;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  flex-grow: 1;
  padding: 5px 10px;
  border-radius: 25px;
}

.search-input::placeholder {
  color: #d0d0d0;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.search-button:focus {
  outline: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
  padding: 2rem;
  background: #f5f5f5;
}

.food-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Card Styling */
.food-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.food-card:hover {
  transform: translateY(-5px);
}

/* Image */
.food-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Content */
.food-content {
  padding: 15px;
}

.food-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-description { 
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.food-sla {
  font-size: 0.9rem;
  color: #079557;
  margin-bottom: 10px;
}

/* Footer */
.food-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e63946;
}

.food-button {
  background: #ff6347;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.food-button:hover {
  background: #d62828;
}
